.main{
  background-color:white;
  font-family:Montserrat;
}
.headers{
  color: Black;
  font-family:Montserrat;
  margin:0px;
}
.sect{
  color:black;
  background: white;
  margin:0px;
}
.bar li{
  display:inline;
  float: right;
  font-family:Montserrat;
  padding: 0.5px;
}

.bar a{
  text-decoration:none;
  font-family:Montserrat;
  font-size: 15px;
}
.par{
  padding-left: 20px;
  margin-top:-5px;
}
img{
  width:250px;
  height:200px;
  margin:10px;
}
.foot{
  background-color: black;
  margin: 5px;
}
.foot a{
  font-family:Montserrat;
  font-size: 20px;
}
.footlist li{
  display:inline;
}
.footimage{
  width :100px;
  height:50px;
}
.para{
  color: white;
  font-size: 25px;
  font-family: serif;
}
